<header id="masthead" class="site-header">
    <div class="container">
        <div class="site-branding">
            <a href="index.html" class="site-title" rel="home">Chris Chenglin Xue</a>
        </div>
        <div class="nav-right">
            <!-- 页面导航菜单 -->
            <div class="searchandfilter">
                <ul>
                    <li class="sf-field-category">
                        <ul>
                            <li class="sf-level-0 sf-item-0">
                                <a href="work.html" class="nav-link">perhaps everything is just gone</a>
                            </li>
                            <li class="sf-level-0 sf-item-1">
                                <a href="interview.html" class="nav-link">interview</a>
                            </li>
                            <li class="sf-level-0 sf-item-2">
                                <a href="vibration.html" class="nav-link">vibration</a>
                            </li>
                            <li class="sf-level-0 sf-item-3">
                                <a href="random-notes.html" class="nav-link">random notes</a>
                            </li>
                            <li class="sf-level-0 sf-item-4">
                                <a href="soliloquize.html" class="nav-link">soliloquize</a>
                            </li>
                            <li class="sf-level-0 sf-item-5">
                                <a href="3733-61st-woodside.html" class="nav-link">3733 61st woodside</a>
                            </li>
                            <li class="sf-level-0 sf-item-6">
                                <a href="alfred-hill.html" class="nav-link">alfred hill</a>
                            </li>
                            <li class="sf-level-0 sf-item-7">
                                <a href="about.html" class="nav-link">about</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>